<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>EnChanger</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app" class="container row">
  <h1 class="center">EnChanger</h1>
  <div class="row">
    <div class="input-field col m6 s12 offset-m3">
      <i class="material-icons prefix">mode_edit</i>
      <input id="text" type="text" v-model="password">
      <label for="text">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="col offset-m5 offset-s3"></div>
    <button v-bind:class="{ disabled: buttonDisabled }" class="waves-effect waves-light btn-large hoverable"
            v-on:click="onClick">
      Get link
    </button>
  </div>
  <div v-if="url" class="row">
    <div class="col s12 offset-m3 m6">
      <ul class="collection">
        <a :href="url" class="collection-item">{{url}} </a>
      </ul>
    </div>
  </div>
</div>
</body>
<script>
  let app = new Vue({
      el: '#app',
      data: {
        password: '',
        url: '',
        disabled: false
      },
      computed: {
        buttonDisabled() {
          return !this.password || this.disabled;
        }
      },
      methods: {
        onClick() {
          this.disabled = true;
          this.url = '';
          if (this.password) {
            fetch('/api', {
              body: JSON.stringify({
                password: this.password,
              }),
              headers: new Headers({'content-type': 'application/json'}),
              method: 'post',
            }).then(res => res.headers.get('Location')).then(str => {
              this.disabled = false;
              this.url = str.replace('api', 'url');
              console.log(str);
            });
          }
        }
      }
    }
  );
</script>
</html>
